@font-face {
    font-family: "et-book";
    src: url("tufte/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    display: block;
    color: inherit;
    background-image: none;
    background-repeat: repeat;
    font-family: inherit;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    white-space: normal;
    font-family: sans-serif;
}
html {
    color: black;
    background-color: white;
    font-family: sans-serif;
    font-size: 36px;
}
b {
    display: inline;
    color: red;
    font-weight: 700;
}
a {
    display: inline;
    color: blue;
}
img {
    display: inline-block;
}
head {
    display: none;
}
body {
    font-size: 18px;
    border-color: black;
    margin: 10px;
    border-width: 10px;
    padding: 10px;
}
h1 {
    font-size: 36px;
    display: block;
    font-family: "et-book", serif;
    font-weight: 400;
}
h2 {
    display: block;
    font-size: 28px;
}
h3 {
    display: block;
    font-size: 24px;
}
div {
    display: block;
    border-width: 10px;
    margin: 10px;
    padding: 11px;
    border-color: blue;
    color: #ffff00;
}
pre {
    white-space: pre;
}
code {
    font-family: monospace;
}
article {
    display: block;
}
p {
    display: block;
    padding: 10px;
}
section {
    display: block;
}
span {
    display: inline;
}
code {
    display: inline;
}
blockquote {
    display: block;
}
em {
    display: inline;
}
cite {
     display: inline;
}

footer {
    display: block;
}
label {
    display: inline;
}

figure {
    display: block;
}
iframe {
    display: block;
}
