@font-face {
    font-family: "et-book";
    src: url("tufte/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    display: block;
    color: inherit;
    background-image: none;
    background-repeat: repeat;
    font-family: inherit;
    font-style: normal;
    font-variant: normal;
    font-weight: inherit;
    text-decoration: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    white-space: normal;
    font-family: sans-serif;
    font-size: 18px;
    border-width: 0;
}
body {
    font-family: sans-serif;
    font-weight: normal;
    background-color: white;
    margin: 8px;
}

img {
    display: inline-block;
}
head, style {
    display: none;
}
h1, h2, h3, h4, h5 {
    display: block;
    font-weight: 700;
}
h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 14px; }
h5 { font-size: 11px; }
h6 { font-size: 10px; }

div, section, pre, article, p, blockquote, footer, figure, iframe, cite, ul, ol, li, dl, dt, dd, fieldset {
    display: block;
}
p {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
    padding:0;
    border-width: 0;
}
blockquote {
    margin: 40px;
}
pre {
    white-space: pre;
}
span, a, b, i, em, strong, code, label, u, del, ins, s, sup, sub, small, abbr, q, dfn, mark, var, time, samp, kbd, strike {
    display: inline;
}
code, samp {
    font-family: monospace;
}
b, strong {
    font-weight: 700;
}
a {
    color: blue;
}
i, em, cite, dfn, var {
    font-style: italic;
}

ul,ol {
    margin-left: 10px;
    padding-left:40px;
}
li {
    padding:0;
    margin:0;
    border-width: 1px;
}
dd {
    margin-left: 40px;
}
small {
    font-size: 14px;
}
cite {
    font-style: italic;
}
fieldset {
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px 8px 6px 5px;
    border-width: 2px;
    border-color: black;
}
input, select, button {
}
button {
    display: inline-block;
    border-width: 1px;
    border-color: blue;
    background-color: lightcyan;
    padding: 3px;
    margin: 3px;
}
input {
    display: block;
    border-width: 1px;
    border-color: gray;
    background-color: lightgrey;
    padding: 3px;
    margin: 3px;
}
optgroup, option {
    display: none;
}
sub {
    vertical-align: sub;
}
sup {
    vertical-align: super;
}

table {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: aqua;
    padding: 5px;
    table-layout: fixed;
    display: table;
}
tbody {
    border-width: 1px;
    border-color: black;
    padding: 5px;
    display: table-row-group;
    background-color: red;
}
tr {
    border-width: 1px;
    border-color: black;
    background-color: yellow;
    display: table-row;
    padding: 5px;
}
td {
    border-width: 1px;
    border-color: black;
    display: table-cell;
    padding: 5px;
}

